@model IEnumerable<LibraryManagement.Models.Issue_Books>

@{
    ViewData["Title"] = "ShowMyBooks";
}

<h1>ShowMyBooks</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>

            </tr>
        }
        <div style="position:fixed;left:30px;bottom:40px;" class="text-white">
            <input type="button" style="background-color:green; border-color:black; border-radius:20px; color:white;height:40px;width:70px; font-size:15px " onclick="location.href = '/Button/StudentTabs';" value="Back" /><br><br>

        </div>
    </tbody>
</table>
