@model IEnumerable<LibraryManagement.Models.AddBooks>

@{
    ViewData["Title"] = "Index";
}

<h1></h1>

<p>
    <a  class=" btn btn-success"asp-action="Create">Add</a><br>
</p>
<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publication)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableQuantity)
                </td>
                <td>
                    <a class=" btn btn-primary" asp-action="Edit" asp-route-id="@item.BookNo"> <i class="bi bi-pencil-square"></i>Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.BookNo"><i class=" bi bi-eye"></i>Details</a> |
                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.BookNo"><i class="bi bi-trash"></i>Delete</a>
                </td>

                <div style="position:fixed;left:30px;bottom:40px;" class="text-white">
                    <input type="button" style="background-color:green; border-color:black; border-radius:20px; color:white;height:40px;width:70px; font-size:15px " onclick="location.href = '/Button/Index';" value="Back" /><br><br>

                </div>
            </tr>
        }
        <div style="position:fixed;left:30px;bottom:40px;" class="text-white">
            <input type="button" style="background-color:green; border-color:black; border-radius:20px; color:white;height:40px;width:70px; font-size:15px " onclick="location.href = '/Button/Index';" value="Back" /><br><br>

        </div>
    </tbody>
</table>
